[Unit]
Description=Advantech boot times
After=advinit.service

[Service]
Type=simple
ExecStart=/usr/local/bin/adv_boot_times.sh

[Install]
WantedBy=multi-user.target
