[Unit]
Description=ADV timer detect
After=systemd-user-sessions.service
After=serial-getty@ttyFIQ0.service
After=lightdm.service
After=systemd-logind.service

[Service]
User=root
Group=root

Type=sample
ExecStart=/usr/sbin/service_detect.sh
KillMode=control-group
KillSignal=SIGKILL
Restart=on-abort
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 
